/*Default font*/
@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype'); 
}
/*Default Changes*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'roboto';
}
a{
    text-decoration: none;
}

/*Root*/
:root{
    --clr-light-gray:#d6d6d6;
    --clr-dark-gray:#636262;
    --clr-black:#200c0c;
    --clr-red:#ff0000;
    --clr-blue:#2f5fff;
    --clr-pink:#d10073;
}

/* Accessibility icons */
.accessibility{
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--clr-light-gray);
    padding-right: 5rem;
    justify-content: space-between;
}
/* Main title */
.accessibility .main_title{
    font-size: 1.7rem;
    color: var(--clr-black);
    margin-bottom: 2rem;
}
/* Icons */
.icons_container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
/*Icon*/
.accessibility .top_contents .icon a,
.accessibility .bottom_contents .icon a{
    display: flex;
    align-items: center;
    color: var(--clr-black);
}
.accessibility .top_contents .icon a p,
.accessibility .bottom_contents .icon a p{
    font-size: 0.8rem;
}
.accessibility .top_contents .icon a svg,
.accessibility .bottom_contents .icon a svg{
    font-size: 0.8rem;
    margin-right: 1rem;
}
/* Profile */
.profile a{
    display: flex;
    align-items: center;
    color: var(--clr-black);
}
.profile a p{
    font-size: 0.8rem;
}
.profile a img{
    width: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
    /* Footer */
    .container .footer{
        padding-top: 0.5rem;
        width: 100dvw;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        position: fixed;
        bottom: 0;
    }
    .container .footer .footer_icon a svg{
        color: var(--clr-black);
    }
    .container .footer .footer_profile{
        margin-right: 1rem;
    }
    .container .footer .footer_profile img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }


