/*Default font*/
@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype'); 
}
/*Default Changes*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'roboto';
}
a{
    text-decoration: none;
}

/*Root*/
:root{
    --clr-light-gray:#d6d6d6;
    --clr-dark-gray:#b8b4b4;
    --clr-black:#200c0c;
    --clr-red:#ff0000;
    --clr-blue:#2f5fff;
}

/* Accessibility icons */
.accessibility{
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--clr-light-gray);
}
/* Main title */
.accessibility .main_title{
    font-size: 1.7rem;
    color: var(--clr-black);
}


