/*header*/
/*search_box*/
.search_box{
    position: relative;
}
.search_box svg{
    position: absolute;
    top: 6px;
    left: 8px;
    color: gray;
}
.search_box input{
    width: 100%;
    border: none;
    padding: 10px 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*posts settings*/
.posts_area{
    margin-top: 20px;
    height: 85%;
    overflow-y: scroll;
}
.posts_area .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    gap: 5px;
    
}
.posts_area .posts1{
    grid-template-areas: 
        "img1 img2 big"
        "img3 img4 big";
}
.posts_area .posts2{
    margin-top: 5px;
    grid-template-areas: 
        "big img1 img2"
        "big img3 img4";
}
/* image post settings */
.posts_area .posts .img-post img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
/* grid-area assignments */
.posts_area .posts .img-post1 { grid-area: img1; }
.posts_area .posts .img-post2 { grid-area: img2; }
.posts_area .posts .img-post3 { grid-area: img3; }
.posts_area .posts .img-post4 { grid-area: img4; }

/* video post */
.posts_area .posts .big_size {
    grid-area: big;
}
/*footer*/
.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a,.footer a:visited ,.footer a:active{
    color: #000;
}
.footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}