/* 992px */
@media screen and (max-width:992px){
    /* Main content (Desktops) */
    .main_content .section{
        overflow-x: auto;
        padding-left: 1.5rem;
        padding-right: 1rem;
    }
}

/* Mobile and tablet design */

/* 768px */
@media screen and (max-width:768px){
    /*Desktop container*/
    .desktop_container{
        display: none;
    }

    /* Mobile and tablet design */
    .container{
        display: block;
    }
    /* Posts  */
    .container .main .post_contents #video2{
        grid-row: 3/5;
        grid-column: 3/4;
    }
}

/* 576px */
@media screen and (max-width:576px){
    /* Searchbox */
    .container .header form input[type='text']{
        padding: 1rem 3rem;
    }
    .container .header form svg{
        top: 1.5rem;
    }

    /* Posts  */
    .container .main .post_contents {
        grid-template-columns: repeat(3,10.3rem);
    }

    /* Footer */
    .footer_profile img {
        margin-right: 1rem;
    }
}