/*header*/
a, a:visited,a:active{
    color: #000;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header .right{
    display: flex;
}
.header .icon-tabler-heart{
    margin: 0 15px;
}
/*stories*/
.stories{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}
.stories .user-prof{
    position: relative;
}
.stories .title{
    text-align: center;
    font-size: 13px;
}
.stories .user-prof svg{
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 40px;
    left: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.stories .story{
    margin:0 10px;
}
.stories .story img{
    border: 2px solid rgb(214, 71, 142);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*posts*/
.posts{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 400px;
}
/*post account*/
.acc_info{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.acc_info .prof{
    display: flex;
    align-items: center;
}
.acc_info .prof img{
    border: 1px solid palevioletred;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.acc_info .prof .title{
    font-size: 12px;
}
/* video post*/
.post .content{
    margin-top: 10px;
}
.post video , .post img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/*bottom of post-icons-*/
.post .post_bottom{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.post .post_bottom .left svg{
    margin-right: 10px;
}
/*account name-after icons*/
.acc_name .u-name{
    font-size: 15px;
}
.acc_name .caption{
    font-size: 12px;
}
.acc_name .time{
    font-size: 9px;
    color: gray;
}
/*footer*/
.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}