/* 1200 px */
@media screen and (max-width:1200px){
    /* Main container */
    .main_container{
        padding: 2rem 4rem 2rem 1rem;
    }

    /* Main content */
    .main_content{
        padding-left: 5rem;
        margin-right: 4rem;
    }
    .container{
        display: none;
    }
}
/* 992px */
@media screen and (max-width:992px){
    /* Main container */
    .main_container{
        padding: 2rem 2rem 1rem;
    }

    /* Accessibility */
    .accessibility {
        padding-right: 3.5rem;
    }

    /* Main content */
    .main_content{
        padding-left: 3rem;
        margin-right: 2rem;
    }

    /* Stories */
    .main_content .stories .story img {
        width: 3.5rem;
        height: 3.5rem;
    }

    /* Messages */
    .main_content .messages{
        gap: 1.3rem;
    }
    .main_content .messages .profile .left img{
        width: 3rem;
        height: 3rem;
    }
    .messages .profile .left .texts{
        margin-right: 0.5rem;
    }
    .container{
        display: none;
    }
}

/* 850px */
@media screen and (max-width:850px){
    /* Main Container */
    .main_container{
        padding-left: 0.8rem;
    }
    /* Accessibility */
    .accessibility {
        padding-right: 2rem;
    }
    .accessibility .icons_container .icon a svg{
        width: 1rem !important;
    }
    .accessibility .icons_container .icon a p{
        font-size: 0.8rem;
        margin-left: -0.4rem !important;
    }
    .profile a img {
        width: 1.5rem;
        margin-right: 0.5rem;
    }

    /* Main content */
    .main_content{
        padding: 0 1rem;
    }

    /* Posts */
    .main_content .posts{
        padding: 0 1rem;
    }
    .posts .post .top .account_info .left img {
        width: 2.3rem;
    }

    /* Account username and caption */
    .posts .post .account_text {
        margin-top: 0.5rem;
    }
    .account_text p{
        font-size: 0.8rem !important;
    }

    /* Messages */
    .messages .profile img {
        height: 2.9rem;
        width: 2.9rem;
    }
    .messages .profile p {
        font-size: 0.7rem;
    }
}

/* 768px */
@media screen and (max-width:768px){
    /* Mobile and tablet design */
    .main_container{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 100dvh;
    }
    
    /* Header Top header*/
    .container .header .top_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container .header .top_header .app_name{
        display: flex;
        align-items: center;
    }
    .container .header .top_header .app_name h1{
        font-size: 1.5rem;
        margin-right: 0.4rem;
    }
    /* Middle header */
    .container .header .middle_header{
        margin:1rem;
    }
    .container .header .middle_header .accounts{
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
    }
    .container .header .middle_header .accounts .account{
        text-align: center;
    }
    .container .header .middle_header .accounts .account:first-child svg{
        position: absolute;
        top: 7rem;
        left: 4.5rem;
        border: 3px solid #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .container .header .middle_header .accounts .account img{
        width: 4rem;
        height: 4rem;
        padding: 2px;
        margin-bottom: 0.3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .middle_header .accounts .account:not(:first-child) img{
        border: 2px solid var(--clr-pink);
    }
    .middle_header .accounts .account p{
        font-size: 0.8rem;
    }

    /* Main */
    .container .main{
        overflow-y: auto;
        height: 100%;
    }
    /* Posts */
    .container .main .t_posts{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-bottom: 1rem;
    }
    .container .main .t_posts .t_post img{
        width: 100%;
    }
    /* Account info */
    .container .main .t_posts .account_info{
        display: flex;
        position: absolute;
        align-items: center;
        top: 1rem;
        left: 1rem;
    }
    .container .main .t_posts .account_info p{
        color: #fff;
    }
    .container .main .t_posts .account_info img{
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    /* More info icon */
    .container .main .t_posts .more_info{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        color: #fff;
    }
    /* Post icons */
    .container .main .t_posts .icons_info{
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main .t_posts .icons_info .left{
        display: flex;
        gap: 1.2rem;
    }
    .main .t_posts .icons_info .left .icon_info{
        display: flex;
        align-items: center;
    }
    /* Caption and user name */
    .main .t_post .caption{
        margin-top: .5rem;
        display: flex;
        gap: 0.8rem;
    }
    /* Published time */
    .main .t_posts .t_post .publish{
        margin: 1rem 0;
        display: flex;
        font-size: 0.8rem;
        color: var(--clr-dark-gray);
    }
}

/* 576px */
@media screen and (max-width:576px){
    /* Container */
    .container{
        margin: 1rem 0.5rem;
    }
    /* Accounts */
    .container .header .middle_header .accounts{
        padding-bottom: 0.5rem;
    }
    .container .header .middle_header .accounts .account img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .container .header .middle_header .accounts .account:first-child svg {
        top: 6.5rem;
        left: 4rem;
    }
    
    /* Footer */
    .container .footer .footer_profile {
        margin-right: 1rem;
    }
}

/* 480px */
@media screen and (max-width:480px){
    /* Header */
    .container .header .middle_header .accounts .account img {
        width: 3rem;
        height: 3rem;
    }
    .container .header .middle_header .accounts .account:first-child svg {
        top: 5.5rem;
    }
    .middle_header .accounts .account p {
        font-size: 0.75rem;
    }
    .container .header .middle_header .accounts{
        padding-bottom: 0;
    }

    /* Main */
    .container .main .t_posts {
        margin-top: 1rem;
    }
    .container .main .t_posts .account_info img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .container .main .t_posts .account_info p {
        font-size: 0.75rem;
    }
    .icon_info{
        font-size: 0.9rem;
    }
    .caption{
        align-items: center;
    }
    .caption p{
        font-size: 0.8rem;
    }
    .caption b{
        font-size: 0.9rem !important;
    }
    .publish p{
        font-size: 0.8rem;
    }
}
/* 400px */
@media screen and (max-width:400px){
    /* Header */
    .container .header .top_header .app_name h1 {
        font-size: 1.2rem;
    }
    .container .header .top_header svg{
        width: 1.5rem;
        height: 1.5rem;
    }
    .container .header .middle_header{
        margin: 1rem 0;
    }
    .container .header .middle_header .accounts .account img {
        width: 2.7rem;
        height: 2.7rem;
    }
    .container .header .middle_header .accounts .account:first-child svg {
        top: 5.3rem;
        left: 2.5rem;
        border: 1.5px solid #fff;
        width: 1rem;
        height: 1rem;
    }
    .middle_header .accounts .account p {
        font-size: 0.6rem;
    }

    /* Main */
    .more_info svg{
        width: 1.5rem;
        height: 1.5rem;
    }

    /* Footer */
    .footer_icon a svg {
        width: 1.3rem;
        height: 1.3rem;
    }
    .container .footer .footer_profile img {
    width: 1.5rem;
    height: 1.5rem;
    }
}