/*header*/
.header .back{
    display: flex;
    align-items: center;
}
.header .back a{
    margin-right: 20px;
}
/*requests*/
.requests{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.requests .left{
    display: flex;
    align-items: center;
}
/*profile pics*/
.requests .left .pictures{
    position: relative;
    margin-right: 25px;
}
.requests .left .pictures img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.requests .left .pictures img:nth-child(2){
    position: absolute;
    left: 13px;
    top: 13px;
}
/*titles*/
.requests .left .titles p:first-child{
    font-size: 14px;
    margin-bottom: 3px;
}
.requests .left .titles p:nth-child(2){
    font-size: 12px;
    color: gray;
}
/*today news*/
.today{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}
.today .titles{
    margin-left: 20px;
    line-height: 20px;
}
.today .titles p:first-child{
    font-size: 14px;
}
.today .titles p:nth-child(2){
    font-size: 12px;
    color: blue;
}
/*today_news*/
.today_news{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.today_news h3{
    font-size: 15px;
}
.today_news .request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
/*profile pic*/
.today_news .request img , .today_news .like img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*profile text details*/
.today_news .request p{
    display: flex;
    align-items: center;
}
.today_news .request .uname , .today_news .like .uname{
    font-size: 13px;
}
.today_news .request #request , .today_news .like #request{
    font-size: 12px;
}
.today_news .request #time , .today_news .like #time{
    font-size: 12px;
    color: gray;
}
/*confirm button*/
.today_news .request .confirm{
    display: inline-block;
    background-color: blue;
    font-size: 12px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
/* like note*/
.today_news .like{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.today_news .like img{
    margin-right: 10px;
}