/*header*/
.header{
    display: flex;
    justify-content: space-between;
}
.header .left{
    display: flex;
    align-self: center;
}
.header .right{
    display: flex;
    flex-direction: row-reverse;
}
.header .right a{
    margin-left: 15px;
    color: #000;
}
.header .right a:visited , .header .right a:active{
    color: #000;
}
/*account info settings*/
.acc_info{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*prof pic*/
.acc_info .prof-pic{
    position: relative;
}
.acc_info .prof-pic svg{
    position: absolute;
    top: 40px;
    left: 55px;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.acc_info .prof-pic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*follow information*/
.follow-info{
    display: flex;
    flex-direction: column;
}
.follow-info .info{
    display: flex;
    margin: 0 10px;
}
.follow-info .info .information{
    display: flex;
    flex-direction: column;
    margin: 10px 15px 10px;
}
.info .information{
    font-size: 13px;
}
/*prof name*/
.follow-info .name{
    margin-left: 20px;
    font-size: 14px;
}
/*bio*/
.bio{
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
}
.bio a:nth-child(3):visited , .bio a:nth-child(3):active {
    color: blue;
}
/*edit acc*/
.edit_info{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
.edit_info a:first-child,.edit_info a:nth-child(2){
    background-color: rgb(226, 226, 226);
    padding: 7px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.edit_info a svg{
    background-color: rgb(226, 226, 226);
    padding: 2px;
    border-radius: 5px;
}
.edit_info a,.edit_info a:visited , .edit_info a:active{
    color: #000;
}
/*highlights*/
.highlights{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.highlights .highlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highlights .highlight p{
    font-size: 13px;
    margin-top: 3px;
}
.highlights .highlight img{
    width: 60px;
    height: 60px;
    padding: 2px;
    border: 1px solid lightgray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*new highlight*/
.highlights .new_highlight img{
    border: none;
    width: 60px;
    height: 60px;
}
/*posts*/
.posts{
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
    display: grid;
    gap: 2px 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.posts .post img{
    width: 100%;
    height: 180px;
}
/*footer*/
.footer{
    height: 50px;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a,.footer a:visited ,.footer a:active{
    color: #000;
}
.footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*Responsive codes*/
@media screen and (max-width:576px){
    .container{
        width: 100dvw;
    }
}