/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .left{
    display: flex;
    align-items: center;
}
.header .left .name{
    margin-left: 20px;
}
/*search_box*/
.search_box{
    margin-top: 20px;
    position: relative;
}
.search_box svg{
    position: absolute;
    top: 6px;
    left: 8px;
    color: gray;
}
.search_box input{
    width: 100%;
    border: none;
    padding: 10px 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*profile*/
.profile{
    margin-top: 20px;
}
.profile p{
    font-size: 12px;
    color: gray;
    margin: 3px 5px;
}
.profile img{
    width: 60px;
    height: 60px;
    padding: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*middle section*/
.middle_section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle_section .left{
    display: flex;
}
.middle_section .left p{
    margin-right: 8px;
}
.middle_section .right p{
    color: blue;
}
/*accounts*/
.accounts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
/*single account settings*/
.accounts .people{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.accounts .people .left{
    display: flex;
    align-items: center;
}
/*profile img settings*/
.people .left .prof img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*profile texts*/
.people .left .titles p:first-child{
    font-size: 14px;
}
.people .left .titles p:nth-child(2){
    font-size: 12px;
    color: rgb(134, 134, 134);;
}
/*account names*/
.accounts .people:nth-child(3) .titles p:nth-child(2) {
    color: #000 !important;
}
