/*Desktop container*/
.desktop_container{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100dvh;
}

/* Reels */
.reels{
    margin: 0 auto;
    justify-content: center;
    padding: 2rem 8rem 2rem 3rem;
    display: grid;
    grid-template-columns: 50%;
    row-gap: 0.5rem;
    overflow: auto;
}
.reels video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Video and icons styles */
.reels .content{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.reels .content .reel_icons{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.reels .content .reel_icons .icon p{
    font-size: 0.8rem;
}

.container{
    display: none;
    padding: 1rem 2rem;
}

/* Responsive codes */
/* Mobile and tablet design */

/* 768px */
@media screen and (max-width:768px){
    /* Desktop elements */
    .desktop_container{
        display: none;
    }

    /* Mobile */
    .container{
        display: block;
    }

    /* Header */
    .header{
        display: flex;
        align-items: center;
    }
    /* Add icon */
    .header .add{
        margin-right: 8rem;
    }
    .header a svg{
        color: var(--clr-black);
        width: 50px;
        height: 50px;
    }

    /* Reels title */
    .header .title{
        margin-right: 3rem;
    }

    /* Friends */
    .header .friends{
        display: flex;
        align-items: center;
    }
    .header .friends .ftitle{
        font-size: 1.2rem;
    }
    /* Account profile */
    .header .friends .accounts{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
    .header .friends .accounts img{
        width: 3.5rem;
        height: 3.5rem;
        position: absolute;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .header .friends .accounts img:first-child{
        z-index: 3;
    }
    .header .friends .accounts img:nth-child(2){
        left: 3rem;
        z-index: 2;
    }
    .header .friends .accounts img:nth-child(3){
        left: 5rem;
        z-index: 1;
    }

    /* Reel content */
    .container .main{
        margin-top: 1rem;
        display: flex;
    }
    .container .main .content{
        position: relative;
    }
    .container .main .content .reel_icons{
        color: #fff;
        position: absolute;
        bottom: 12rem;
        right: 2rem;
    }
    .container .main .content .reel_icons .icon{
        margin-top: 1.5rem;
    }
    .container .main .content .reel_icons .icon svg{
        stroke-width:2.5;
        width: 40px;
        height: 40px;
     }
}

/* 576px */
@media screen and (max-width:576px){
    /* Header */
    .header .add a svg{
        width: 2.5rem;
        height: 2.5rem;
    }
    .header .title {
        font-size: 0.8rem;
    }
    .header .friends .ftitle{
        font-size: 1rem;
    }
    .header .friends .accounts{
        margin-left: 1.5rem;
    }
    .header .friends .accounts img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .header .friends .accounts img:nth-child(2) {
        left: 1.8rem;
    }
    .header .friends .accounts img:nth-child(3) {
        left: 3.2rem;
    }

    /* Reel */
    .container .main .content video{
        width: 100%;
    }
    .container .main .content .reel_icons .icon {
        margin-top: 1rem;
    }
    .container .main .content .reel_icons .icon svg {
        stroke-width: 1.5;
        width: 35px;
       height: 35px;
    }

    /* Footer */
    .container .footer .footer_profile img {
        margin-right: 2.5rem;
    }
}
/* 480px */
@media screen and (max-width:480px){
    /* Container */
    .container{
        padding: 1rem 0;
    }

    /* Header */
    .header{
        padding: 0 2rem;
    }
    .header .add a svg {
        width: 2rem;
        height: 2rem;
    }
    .header .title {
        font-size: 0.7rem;
        margin-left: -4rem;
    }
    .header .friends .ftitle {
        font-size: 0.9rem;
    }

    /* Reel */
    /* Reel's icons */
    .container .main .content .reel_icons .icon {
        margin-top: 0.7rem;
    }
    .container .main .content .reel_icons .icon svg {
        stroke-width: 1.2;
        width: 30px;
        height: 30px;
    }
    .container .main .content .reel_icons .icon p{
        font-size: 0.9rem;
    }
    .container .main .content .reel_icons {
        bottom: 9rem;
    }

    /* Footer */
    .container .footer .footer_profile img {
        margin-right: 0;
    }
}

/* 400px */
@media screen and (max-width: 480px) {
    /* Header */
    .header {
        padding: 0 0.5rem;
    }
    .header .add a svg {
        width: 1.8rem;
        height: 1.8rem;
    }
    .header .title {
        font-size: 0.6rem;
    }
    .header .friends .ftitle {
        font-size: 0.8rem;
    }
    .header .friends .accounts {
        margin-left: 0.3rem;
    }
    .header .friends .accounts img {
        width: 2rem;
        height: 2rem;
    }
    .header .friends .accounts img:nth-child(2) {
        left: 1.5rem;
    }
    .header .friends .accounts img:nth-child(3) {
        left: 3rem;
    }

    /* Reel */
    .container .main {
        margin-top: 0.2rem;
    }
    .container .main .content .reel_icons {
        right: 1rem;
    }
}