/*header*/
.header .back{
    display: flex;
    align-items: center;
}
.header .title{
    margin-left: 20px;
}
/*search box*/
/*search_box*/
.search_box{
    margin-top: 15px;
    position: relative;
}
.search_box svg{
    position: absolute;
    top: 6px;
    left: 8px;
    color: gray;
}
.search_box input{
    width: 100%;
    border: none;
    padding: 10px 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*items settings*/
.items{
    margin-top: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(233, 233, 233);
    height: 75%;
    overflow-y: scroll;
}
/*single item settings*/
.items .item{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgb(233, 233, 233);
}
/*content of a single item*/
.items .item .content{
    margin:13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items .item .item-title{
    font-size: 15px;
    color: gray;
}
.items .item .content .left{
    display: flex;
    align-items: center;
}
/*icon's title*/
.items .item .content .left p{
    font-size: 13px;
}
/*icon of settings part*/
.items .item .content .left svg{
    margin-right: 20px;
}
/*footer*/
.footer{
    position: sticky;
    bottom: 0;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a,.footer a:visited ,.footer a:active{
    color: #000;
}
.footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*Responsive codes*/
@media screen and (max-width:576px){
    .container{
        width: 100dvw;
    }
}